#navbar{
    background:#333;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding: 20px 20px;
    cursor: pointer;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color: #f7c08a;
}

#navbar h1:hover{
    background: #444;
    color: #f7c08a;
      
}


